<div id="editStudentModal" class="modal fade" role="dialog" th:fragment="edit-student" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title"><span style="font-weight:bold">Edit Student</span></h4>
			</div>
			<form th:action="@{/edit-student}" method="post" id="edit-student-form">
				
				<div class="modal-body">
					<input type="hidden" th:field="${student.id}" />
						<!--<span style="font-weight:bold">Id: </span><span th:text="${student.id}"></span><br>-->
					<div class="form-group">
						<label >Name</label>
						<input type="text" th:field="${student.name}" class="form-control" required="" oninvalid="this.setCustomValidity('Favor de proporcionar un nombre')" oninput="setCustomValidity('')"/>
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" th:field="${student.lastName}" class="form-control" required="" oninvalid="this.setCustomValidity('Favor de proporcionar los apellidos')" oninput="setCustomValidity('')"/>
					</div>	
					<div class="form-group">
						<label >Birthday</label>
						<input type="text" id="datepicker_edit-student" th:field="${student.birthday}"  readonly="readonly" class="form-control clsDatePicker" readonly="readonly" placeholder="dd/mm/yyyy" required="" oninvalid="this.setCustomValidity('Favor de proporcionar la fecha')" oninput="setCustomValidity('')"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>