<div id="studentModal" class="modal fade" role="dialog"
	th:fragment="student" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title font-weight-bold">Student Details</h4>
			</div>
			<div class="modal-body">

				<div class="media">
					<div class="media-left">
			    		<span style="font-size: 55px" class="glyphicon glyphicon-user"></span> 
					</div>
					<div class="media-body">
		  				<span style="font-weight:bold">Id: </span><span th:text="${student.id}"></span><br>
						<span style="font-weight:bold">Name: </span><span th:text="${student.name}"></span><br>
						<span style="font-weight:bold">Last Name: </span><span th:text="${student.lastName}"></span><br>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>