<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Students</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function openStudentModal(id){
			$.ajax({
				url: "/student/" + id,
				success: function(data){
					$("#studentModalHolder").html(data);
					$('#studentModal').modal();
	                $('#studentModal').modal('open');

				}
			});
		}
		function openDeleteModal(id){
			$.ajax({
				url: "/delete-student/" + id,
				success: function(data){
					$("#deleteStudentModalHolder").html(data);
					$('#deleteStudentModal').modal();
	                $('#deleteStudentModal').modal('open');

				}
			});
		}
		function openEditModal(id){
			$.ajax({
				url: "/edit-student/" + id,
				success: function(data){
					$("#editStudentModalHolder").html(data);
					$('#editStudentModal').modal();
	                $('#editStudentModal').modal('open');
				}
			});
		}
		function openAddStudentModal(){
			$.ajax({
				url: "/add-student",
				success: function(data){
					$("#addStudentModalHolder").html(data);
					$('#addStudentModal').modal();
	                $('#addStudentModal').modal('open');
				}
			});
		}
	</script>
</head>

<body>
	<div class="container">
	
		<h1>Students</h1>
		<div class="">
			<a href="#" th:onclick="'javascript:openAddStudentModal();'" class="btn btn-info btn-md">
		    	<span class="glyphicon glyphicon-plus"></span><span> Add New Student</span>
			</a>
			<p></p>
		</div>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Last Name</th>
					<th>Operations</th>
				</tr>
				<tr th:each="student : ${students}">
					<td th:text="${student.id}"></td>
					<td th:text="${student.name}"></td>
					<td th:text="${student.lastName}"></td>
					<td>
						<a href="#" th:onclick="'javascript:openStudentModal(\''+ ${student.id} + '\');'" class="btn btn-info btn-xs">
					    	<span class="glyphicon glyphicon-list-alt"></span> 
						</a>
						<a href="#" th:onclick="'javascript:openEditModal(\''+ ${student.id} + '\');'" class="btn btn-success btn-xs">
					    	<span class="glyphicon glyphicon-pencil"></span> 
						</a>
						<a href="#" th:onclick="'javascript:openDeleteModal(\''+ ${student.id} + '\');'" class="btn btn-danger btn-xs">
					    	<span class="glyphicon glyphicon-trash"></span> 
						</a>
					</td>
					
				</tr>
			</table>
		</div>
		
	</div>
	
	<!-- modal -->
	<div th:fragment="student" id="studentModalHolder"></div>
	<div th:fragment="delete-student" id="deleteStudentModalHolder"></div>
	<div th:fragment="edit-student" id="editStudentModalHolder"></div>
	<div th:fragment="add-student" id="addStudentModalHolder"></div>
	
</body>
</html>