<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Students</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function openStudentModal(id){
			$.ajax({
				url: "/student/" + id,
				success: function(data){
					$("#studentModalHolder").html(data);
					$('#studentModal').modal();
	                $('#studentModal').modal('open');
				}
			});
		}
		function openDeleteModal(id){
			$.ajax({
				url: "/delete-student/" + id,
				success: function(data){
					$("#deleteStudentModalHolder").html(data);
					$('#deleteStudentModal').modal();
	                $('#deleteStudentModal').modal('open');
				}
			});
		}
	</script>
</head>

<body>
	<div class="container">
	
		<h1>Students</h1>
		
		<table class="table">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>Detail</th>
				<th>Remove</th>
			</tr>
			<tr th:each="student : ${students}">
				<td th:text="${student.id}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.lastName}"></td>
				<td th:onclick="'javascript:openStudentModal(\''+ ${student.id} + '\');'">Details</td>
				<td th:onclick="'javascript:openDeleteModal(\''+ ${student.id} + '\');'">Delete</td>
				
			</tr>
		</table>
	</div>
	
	<!-- modal -->
	<div th:fragment="student" id="studentModalHolder"></div>
	<div th:fragment="delete-student" id="deleteStudentModalHolder"></div>
	
</body>
</html>